* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body,
html {
    width: 100%;
    margin: 0;
    font-family: "Orbitron", sans-serif;
    box-sizing: border-box;

}



/* body {
    overflow-x: hidden;
} */

.header {
    height: 80px;
    width: 100%;
}

.navbar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.l {
    height: 60px;
}

.ln {
    height: 150px;
}

.nav2 {
    padding-right: 50px;
}

.link {
    padding: 20px;
    text-decoration: none;
    color: black;
    font-family: "Orbitron", sans-serif;
    font-size: 20px;
    font-weight: 700;
}



.link:hover {
    background-color: black;
    border-radius: 5px;
    color: white;
}


.subp {
    width: 70vw;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.27);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.1px);
    -webkit-backdrop-filter: blur(12.1px);
}

.subp p {
    color: black;
    padding: 20px 20px;
    font-weight: 900;
    font-size: 25px;
    text-align: justify;
}



.p {
    background-image: url('./img/land22.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;


    padding-top: 100px;
    padding-bottom: 30px;
    padding-left: 100px;
    height: 90vh;
    display: flex;
    justify-content: space-between;

}

.title {
    width: 700px;
}

.title h1 {
    font-family: "Orbitron", sans-serif;
    -webkit-text-stroke: 1px black;
    font-size: 70px;
    font-weight: 900;
    line-height: 5rem;
}

.title p {
    padding-top: 30px;
    font-size: 30px;
    font-weight: 700;
    -webkit-text-stroke: .3px black;
}



.car {
    padding: 80px;
    display: block;
    margin: 0 auto;
    max-width: 600px;
    width: 80vw;
    height: auto;
}


.details1,
.details2 {
    width: 80vw;
    color: white;
    text-align: justify;
    font-weight: 700;
    padding: 25px;
    line-height: 1.5rem;


    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.details1 {
    text-align: center;
    font-weight: 900;
    width: auto;
    padding: 30px;
}


.pp {
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.p1 {
    background-image: url('./img/bg1.webp');
}

.p1 .subp p {
    text-align: right;
}



.p2 {
    background-image: url('./img/bg2.webp');
}

.p2 .subp p {
    text-align: right;
}



.p3 {
    background-image: url('./img/bg3.webp');
}



.p4 {
    background-image: url('./img/bg4.webp');
}

.p4 .subp p {
    text-align: right;
}



.p5 {
    background-image: url('./img/bg5.webp');
}

.p6 {
    background-image: url('./img/bg6\ \(1\).webp');
}

.p7 {
    background-image: url('./img/bg7.webp');
}

.p8 {
    background-image: url('./img/bg8.webp');
}

.p9 {
    background-image: url('./img/bg9.webp');
}

.p10 {
    background-image: url('./img/bg10.webp');
}

.p11 {
    background-image: url('./img/card1.jpg');
}


.con {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    min-height: 110vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


.content1 {
    background-image: url('./img/land9.webp');
}



.content2 {
    background-image: url('./img/land10.webp');
}

.content3 {
    background-image: url('./img/land6.webp');
}


.content4 {
    background-image: url('./img/land8.webp');
}

.content5 {
    background-image: url('./img/land7.webp');
}

.content6 {
    background-image: url('./img/land9.webp');
}

.content7 {
    background-image: url('./img/land7.webp');
}

.content8 {
    background-image: url('./img/land9.webp');
}

.content9 {
    background-image: url('./img/land8.webp');
}

.content10 {
    background-image: url('./img/land7.webp');
}

.content11 {
    background-image: url('./img/land10.webp');
}

.content12 {
    background-image: url('./img/land24.jpg');
}



.end {
    height: 350px;
    width: 55vw;
    background-color: transparent;
    margin-left: 650px;
    font-size: 30px;
    line-height: 4.5rem;
    text-align: right;
    margin-top: 30px;
    padding-right: 50px;
}

.aut {
    padding-right: 20px;
    font-size: 30px;
}

.por {
    font-size: 80px;
}

.footer {
    justify-content: center;
    height: 50px;
    color: white;
    margin-top: 200px;
    padding-top: 50px;
    padding-bottom: 30px;
    text-align: center;
    word-spacing: .5rem;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 20px;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: black;
    background-image: url('./img/road2.jpg');
}

::-webkit-scrollbar-thumb {
    background-image: url('./img/scroll.png');
    background-image: url('./img/Adobe\ Express\ -\ file\ \(1\).png');
    background-size: cover;
    height: 20px;
    z-index: 1;
    border-radius: 2px;
}



@media (min-width: 1025px) and (max-width: 1366px) {
    .car {
        padding: 60px 10px;
        display: block;
        margin: 0 auto;
        max-width: 500px;
        width: 90vw;
        height: auto;
    }


    .details1,
    .details2 {
        width: 80vw;
        color: white;
        text-align: justify;
        font-weight: 700;
        padding: 15px;
        line-height: 1.2rem;
    }

    .details1 {
        text-align: center;
        font-weight: 900;
        width: auto;
        padding: 20px;
    }

    .subp {
        height: auto;
        width: 70vw;
    }

    .subp p {
        font-size: 16px;
        padding: 15px 15px;
        font-weight: 900;
    }

    .content12 {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .end {
        margin-left: 0px;
        color: white;
        height: 300px;
        width: 90vw;
        font-size: 30px;
        line-height: 5rem;
        text-align: right;
        margin-top: 50px;
        padding-bottom: 250px;
        background-size: cover;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .aut {
        padding-right: 20px;
        font-size: 30px;
    }

    .por {
        font-size: 80px;
    }

}


@media (min-width: 768px) and (max-width: 1024px) {

    .nav2 {
        display: none;
    }

    .link {
        font-size: 10px;
    }

    .car {
        padding: 60px 10px;
        display: block;
        margin: 0 auto;
        max-width: 500px;
        width: 80vw;
        height: auto;
    }


    .details1,
    .details2 {
        width: 90vw;
        color: white;
        text-align: justify;
        font-weight: 700;
        padding: 15px;
        line-height: 1.2rem;
    }

    .details1 {
        text-align: center;
        font-weight: 900;
        width: auto;
        padding: 20px;
    }

    .subp {
        height: auto;
        width: 70vw;
    }

    .subp p {
        font-size: 16px;
        padding: 15px 15px;
        font-weight: 900;
    }

    .content12 {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .end {
        margin-left: 0px;
        color: black;
        -webkit-text-stroke: white 1px;
        height: 300px;
        width: 90vw;
        font-size: 30px;
        line-height: 5rem;
        text-align: right;
        margin-top: 50px;
        padding-bottom: 250px;
        background-size: cover;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .aut {
        padding-right: 20px;
        font-size: 30px;
    }

    .por {
        font-size: 80px;
    }

}

@media (min-width: 482px) and (max-width: 767px) {


    .p {
        background-image: url('./img/land22.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        color: white;


        padding-top: 100px;
        padding-bottom: 30px;
        padding-left: 0px;
        height: 75vh;
        display: flex;
        justify-content: center;
        justify-items: center;

    }

    .title {
        width: 450px;
    }

    .title h1 {
        font-family: "Orbitron", sans-serif;
        -webkit-text-stroke: 1px black;
        font-size: 40px;
        font-weight: 900;
        line-height: 4rem;
    }

    .title p {
        padding-top: 30px;
        font-size: 25px;
        font-weight: 700;
        -webkit-text-stroke: .3px black;
    }

    .nav2 {
        display: none;
    }

    .link {
        font-size: 10px;
    }

    .car {
        padding: 60px 20px; 
        display: block;
        margin: 0 auto;
        max-width: 500px;
        width: 90vw;
        height: auto;
    }


    .details1,
    .details2 {
        width: 80vw;
        color: white;
        text-align: justify;
        font-weight: 700;
        padding: 10px;
        line-height: 1.2rem;
        font-size: 10px;
    }

    .details1 {
        font-size: 10px;
        text-align: center;
        font-weight: 700;
        width: auto;
        padding: 20px;
    }

    .subp {
        height: auto;
    }

    .subp p {
        font-size: 15px;
        padding: 15px 15px;
        font-weight: 900;
    }

    .content12 {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .end {
        margin-left: 0px;
        color: black;
        height: 300px;
        -webkit-text-stroke: white 1px;
        width: 90vw;
        font-size: 15px;
        line-height: 5rem;
        text-align: right;
        margin-top: 50px;
        padding-bottom: 250px;
        background-size: cover;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .aut {
        padding-right: 20px;
        font-size: 20px;
        -webkit-text-stroke: white .3px;

    }

    .por {
        font-size: 40px;
    }

    .footer {
        font-size: 10px;
    }

}

@media (max-width: 481px) {

    .navbar {
        padding-left: 0px;
        display: flex;
        justify-content: center;
    }

    .logo {
        margin-left: 0px;
    }


    .p {
        background-image: url('./img/land22.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        color: white;


        padding-top: 100px;
        padding-bottom: 30px;
        padding-left: 0px;
        height: 75vh;
        display: flex;
        justify-content: center;
        justify-items: center;

    }

    .title {
        width: 350px;
    }

    .title h1 {
        font-family: "Orbitron", sans-serif;
        -webkit-text-stroke: 1px black;
        font-size: 40px;
        font-weight: 900;
        line-height: 4rem;
    }

    .title p {
        padding-top: 30px;
        font-size: 20px;
        font-weight: 700;
        -webkit-text-stroke: .3px black;
    }

    .nav2 {
        display: none;
    }

    .link {
        font-size: 10px;
    }

    .car {
        padding: 60px 20px;
        display: block;
        margin: 0 auto;
        max-width: 100%;
        width: 100%;
        height: auto;
    }


    .details1,
    .details2 {
        width: 80vw;
        font-size: 10px;
        color: white;
        text-align: justify;
        font-weight: 700;
        padding: 10px;
        line-height: 1.2rem;
    }

    .details1 {
        font-size: 8px;
        text-align: center;
        font-weight: 700;
        width: auto;
        padding: 20px;
    }

    .subp {
        height: auto;
        width: 70vw;
    }

    .subp p {
        font-size: 10px;
        padding: 15px 15px;
        font-weight: 700;
    }

    .content12 {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .end {
        margin-left: 0px;
        color: black;
        -webkit-text-stroke: white 1px;
        height: 300px;
        width: 90vw;
        font-size: 15px;
        line-height: 5rem;
        text-align: right;
        margin-top: 50px;
        padding-bottom: 250px;
        background-size: cover;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .aut {
        padding-right: 20px;
        font-size: 20px;
        -webkit-text-stroke: white .2px;
    }

    .por {
        font-size: 40px;
    }

    .footer {
        font-size: 10px;
    }

}








.con_img1 {
    animation: moveX1 linear both;
    animation-timeline: view();
    animation-range: entry 0% exit 100%;
}

@keyframes moveX1 {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    50% {
        transform: translateX(0);
        opacity: 1;
    }

    65% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

.con_img2 {
    animation: moveX2 linear both;
    animation-timeline: view();
    animation-range: entry 0% exit 100%;
}

@keyframes moveX2 {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    50% {
        transform: translateX(0);
        opacity: 1;
    }

    65% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

html,
body {
    width: 100%;
    overflow-x: clip;
}